button{
    background-color: #1D267D;
    padding: 15px 20px;
    margin: 10px 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
}